<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DS2S_META.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DS2_META.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DS2S_META.Properties.Settings>
            <setting name="StorePosition" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="EnableHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HandleHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestorePosition" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="ToggleGravity" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="SilentItemGive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeedValue" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="ShowWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestoreState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleCollision" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="Up" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="Down" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="ModifySpeed" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="AccelSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AnimSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="JumpSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BuildupSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ToggleSpeedFactors" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="Warp" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="CreateItem" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="SpawnUndroppable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateMaxLive" serializeAs="String">
                <value>False</value>
            </setting>
        </DS2S_META.Properties.Settings>
        <DS2_META.Properties.Settings>
            <setting name="StorePosition" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="EnableHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HandleHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestorePosition" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="ToggleGravity" serializeAs="String">
                <value>27</value>
            </setting>
        </DS2_META.Properties.Settings>
    </userSettings>
</configuration>